<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-extended-device-information"
    version="2.2.0">
    <name>ExtendedDeviceInformation</name>
    <description>Get Device Informations</description>
    <license>MIT</license>
    <keywords>cordova,device</keywords>

    <js-module src="www/extended-device-information.js" name="device">
        <clobbers target="cordova.plugins.extended-device-information" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExtendedDevice" >
                <param name="android-package" value="cordova.device.extended.information.ExtendedDevice"/>
            </feature>
        </config-file>

        <source-file src="src/android/ExtendedDevice.java" target-dir="src/cordova/extended/information" />
    </platform>



</plugin>
